.btn-editar {
    background-color: #5bc0de;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-eliminar {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}